@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --success: 123 100% 90%;
    --success-foreground: 0 0% 0%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 100% 60%;
    --destructive-foreground: 0 46% 100%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --success: 112.7 59.6% 69.8%;
    --success-foreground: 0 0% 0%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-libre_franklin), sans-serif;
  }

  a {
    @apply text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-archivo), sans-serif;
    @apply text-foreground;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .fade-in {
    animation: fade-in 0.5s ease-out;
  }
}

.no-scroll .tiptap {
  @apply h-full;
}

.tiptap {
  >*+* {
    margin-top: 0.75em;
  }

  @apply bg-gray-200 dark:bg-slate-900 rounded p-8 overflow-auto h-[500px];
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;

  ul {
    padding: 0 1rem;
    @apply list-disc;
  }

  ol {
    padding: 0 1rem;
    @apply list-decimal;
  }

  li {
    padding: 0 1rem;
  }

  a {
    @apply text-blue-600 hover:underline cursor-pointer;
  }


  h1 {
    @apply text-6xl font-bold;
  }

  h2 {
    @apply text-5xl font-bold;
  }

  h3 {
    @apply text-4xl font-bold;
  }

  h4 {
    @apply text-3xl font-bold;
  }

  h5 {
    @apply text-2xl font-bold;
  }

  h6 {
    @apply text-xl font-bold;
  }


  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }

  

}

/* Button styles */
.tiptap__buttons {
  @apply flex flex-wrap gap-2 mb-4;
}

.tiptap__buttons button {
  @apply flex items-center justify-center px-3 py-2 bg-gray-200 border border-gray-300 rounded-md text-gray-700 cursor-pointer transition-colors duration-300 ease-in-out;

  /* Dark mode */
  @apply dark:bg-gray-700 dark:border-gray-600 dark:text-gray-200;

  &:hover {
    @apply bg-gray-300 dark:bg-gray-600;
  }

  &.is-active {
    @apply bg-gray-300 border-gray-400 dark:bg-gray-800 dark:border-gray-500;
  }
}


.blog-content {
  @apply max-w-5xl mx-auto;

  .ProseMirror {
    @apply text-base leading-relaxed bg-white dark:bg-slate-950 text-gray-800 dark:text-gray-200 p-4 rounded;

    > * + * {
      @apply mt-6;
    }

    h1 {
      @apply text-4xl font-bold mb-4;
    }

    h2 {
      @apply text-3xl font-bold mb-3;
    }

    h3 {
      @apply text-2xl font-bold mb-2;
    }

    h4 {
      @apply text-xl font-bold mb-2;
    }

    h5 {
      @apply text-lg font-bold mb-2;
    }

    h6 {
      @apply text-base font-bold mb-2;
    }

    p {
      @apply mb-4;
    }

    ul, ol {
      @apply pl-8 mb-4;
    }

    ul {
      @apply list-disc;
    }

    ol {
      @apply list-decimal;
    }

    li {
      @apply mb-2;
    }

    blockquote {
      @apply border-l-4 border-gray-300 pl-4 italic my-4;
    }

    pre {
      @apply bg-gray-100 rounded p-4 overflow-x-auto my-4;
    }

    a {
      @apply text-blue-600 hover:underline cursor-pointer;
    }

    code {
      background-color: rgba(#616161, 0.1);
      color: #616161;
    }
  
    pre {
      background: #0d0d0d;
      color: #fff;
      font-family: "JetBrainsMono", monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
  
      code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
      }
    }

    img {
      @apply w-full max-w-full h-auto rounded-lg shadow-md object-cover;
  }
    

    .youtube-video {
      margin: 2rem auto; /* Center the video horizontally and add vertical spacing */
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .youtube-video iframe {
      width: 100%;
      max-width: 100%; /* Ensure the video is responsive */
      height: auto;
      aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio */
      border: none; /* Remove the border around the iframe */
      border-radius: 8px; /* Optional: Add rounded corners to the video */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  }
  
  }
}